<div id="wrapper">
   <div id="sidebar-wrapper">
       <ul class="sidebar-nav">
           <li><a href="#">Link</a></li>
           <li><a href="#">Link</a></li>
           <li><a href="#">Link</a></li>
           <li><a href="#">Link</a></li>
       </ul>
       <!-- Sidebar content -->
   </div>
   <div id="page-content-wrapper">
      <nav id="navbar-fix">
         <!-- Navbar content -->
       </nav>
       <div class="page-content">
           <waluty></waluty>
           <!-- Wykres start -->
           <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [type]="barChartType">
              </canvas>
            </div>
          </div>
          <!-- Wykres stop -->
       </div>
   </div>
</div>
